@mixin placeholder($color)
    &::-webkit-input-placeholder  /* Chrome/Opera/Safari */
        color: $color
        font-family: 'Helvetica Neue', sans-serif
        font-size: 16px
        letter-spacing: 0
        line-height: 49px

    &::-moz-placeholder  /* Firefox 19+ */
        color: $color
        font-family: 'Helvetica Neue', sans-serif
        font-size: 16px
        letter-spacing: 0
        line-height: 49px

    
    &:-ms-input-placeholder
        color: $color
        font-family: 'Helvetica Neue', sans-serif
        font-size: 16px !important
        letter-spacing: 0

    
    &:-moz-placeholder  /* Firefox 18- */
        color: $color
        font-family: 'Helvetica Neue', sans-serif
        font-size: 16px
        letter-spacing: 0
        line-height: 49px

    
.auth-form
    width: 626px
    height: 434px
    display: flex
    flex-direction: column
    align-items: center
    overflow: hidden
    border-radius: 4px
    box-shadow: 0 0 22px -3px rgba(0,0,0,0.4)
    font-family: 'Helvetica Neue', sans-serif

    &[data-complete] &__pass, &[data-complete] &__phone
        border-color: rgba(255, 255, 255, 0.2)

    &__back
        align-self: flex-start
        margin-top: 30px
        margin-left: 30px
        background: transparent
        border: 0
        outline: 0
        color: white
        font-size: 10px
        letter-spacing: 1px
        text-transform: uppercase
        opacity: 0.8
        text-decoration: none

        &:hover, &:focus
            opacity: 1

        &-img
            margin-right: 9px

    &__phone, &__pass
        width: 369px
        max-width: calc(100vw - 15px)
        height: 49px
        border: 1px solid rgba(255, 255, 255, 0.4)
        box-sizing: border-box
        border-radius: 24px
        text-align: center
        background: transparent
        color: white
        outline: 0
        font-size: 18px
        box-shadow: none
        font-family: 'Helvetica Neue', sans-serif

        @include placeholder(rgba(255, 255, 255, 0.4))
        
        &:focus
            box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.4) inset
            background: white
            border: 0
            color: black

            @include placeholder(rgba(0, 0, 0, 0.4))

        &::-ms-clear, &::-ms-reveal
            display: none

        &:invalid:not(:placeholder-shown), 
            color: #B40000
            font-style: italic
            font-weight: lighter
            background: white
            border: 0

            ~ .auth-form__input-flag_invalid
                display: block

        &:valid:not(:placeholder-shown) ~ .auth-form__input-flag_valid
                display: block

    &__phone
        margin-top: 20px
        
        &:valid:not(:placeholder-shown)
            font-style: italic
            font-weight: lighter

    &__pass
        margin-top: 15px
        letter-spacing: 5px
        font-family: 'password', 'Helvetica Neue', sans-serif
        font-style: normal !important

    &__input-container
        position: relative

    &__input-flag
        position: absolute
        display: none

        &_invalid
            right: 10px
            bottom: 8px

        &_valid
            right: 23px
            bottom: 15px


    &__panel
        display: flex
        flex-direction: row
        align-items: center
        margin-top: 4px
        color: white
        font-size: 16px
        vertical-align: center
        line-height: 49px

    &__save
        margin-right: 49px

    &__forgotten
        text-decoration: none
        margin-top: 1px
        position: relative
        color: inherit
        
        &:after
            position: relative
            content: ""
            display: block
            width: 92%
            border-bottom: 1px rgba(255, 255, 255, 0.2) solid
            top: -14px
            left: 5px

    &__submit
        margin-top: 20px
        width: 151px
        height: 48px
        border-radius: 24px
        color: white
        background: transparent
        border: 1px solid white
        box-sizing: border-box
        text-transform: uppercase
        outline: 0
        font-size: 12px
        letter-spacing: 2.53px

        &[disabled]
            opacity: 0.2
        
        &:not([disabled]):hover, &:not([disabled]):focus
            background-color: white
            color: black

    &__background
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        z-index: -1

// iefix
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
    .auth-form
        &__input-flag
            &_invalid
                bottom: 12px
                z-index: 2

            &_valid
                bottom: 19px
                z-index: 2
        
        &__phone:valid:not(:-ms-input-placeholder)
                font-style: italic
                font-weight: lighter

        &__phone, &__pass
            &:not(:-ms-input-placeholder):invalid
                    color: #B40000
                    font-style: italic
                    font-weight: lighter
                    background: white
                    border: 0

                    ~ .auth-form__input-flag_invalid
                        display: block

            &:valid:not(:-ms-input-placeholder) ~ .auth-form__input-flag_valid
                display: block

// EDGE fix
@supports (display:-ms-grid)
    .auth-form
        &__phone
            &:valid
                font-style: italic
                font-weight: lighter

        &__phone, &__pass
            &[data-empty]:not(:focus)
                border: 1px solid rgba(255, 255, 255, 0.4)
                background: transparent
                color: white

                &::-ms-input-placeholder
                    color: rgba(255,255,255,0.4) !important

                ~ .auth-form__input-flag_invalid
                    display: none

            &::-ms-input-placeholder
                color: rgba(0,0,0,0.4) !important
                font-style: normal

            &:invalid
                color: #B40000
                font-style: italic
                font-weight: lighter
                background: white
                border: 0

                ~ .auth-form__input-flag_invalid
                    display: block

            &:valid ~ .auth-form__input-flag_valid
                display: block