.blur-filter
    width: 0
    height: 0

    &__image
        display: block
        position: absolute
        width: 100vw
        height: 100vh
        transform: translate(-50%, -50%)
        z-index: -1