.page
    height: 100vh
    width: 100vw
    display: flex
    justify-content: center
    position: relative
    align-items: center
    overflow: hidden

    &__form
        position: relative
        max-width: calc(100vw - 8px)
        z-index: 2

    &__background
        width: 100vw
        height: 100vh
        position: absolute
        top: 0
        left: 0