.toggle
    display: flex
    flex-direction: row
    align-items: center

    &__hidden
        width: 1px
        height: 1px
        overflow: hidden
        position: absolute
        clip: rect(0 0 0 0)

    &__hidden:focus + &__button:after
        opacity: 1

    &__hidden:checked + &__button:after
        opacity: 1
        margin-left: 17px

    &__button
        display: block
        width: 44px
        height: 24px
        margin-right: 5px
        border-radius: 12px
        border: 1px solid white
        box-sizing: border-box
        color: white
        cursor: pointer

        &:hover:after
            opacity: 1


        &:after
            content: ""
            display: block
            width: 22px
            height: 16px
            margin: 3px
            background-color: white
            border-radius: 8px
            opacity: 0.3
            transition: all 0.3s
