@font-face
    font-family: 'password'
    src: url('/fonts/password/password.otf')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Helvetica Neue'
    src: url('/fonts/helvetica-neue/HelveticaNeueLightItalic.ttf')
    font-style: italic
    font-weight: lighter

@font-face
    font-family: 'Helvetica Neue'
    src: url('/fonts/helvetica-neue/HelveticaNeueMedium.ttf')
    font-weight: normal
    font-style: normal


